extends layout

block content
    .main
    .container
        .header
            header Modifier ses informations personnelles
        .line
        form(action='/changecredentials' method='post')
            .form-field
                label.text-label Nom
                input.text-field(type='text' name='lastname' value=lastname required='')
            .form-field
                label.text-label Prénom
                input.text-field(type='text' name='firstname' value=firstname required='')
            .form-field
                label.text-label Adresse mail
                input.text-field(type='email' name='email' value=email disabled='')
            .form-field
                label.text-label Mot de passe
                input.text-field(type='password' placeholder='Mot de passe' name='pwd' required='')
            .form-field
                label.text-label Date de naissance
                br
                input#date-field(type='date' value=dob name='dob' required='')
            .form-field
                label.text-label Sexe
                br
                input#h.btn-radio(type='radio' name='genderM')
                label(for='h') Masculin
                input#f.btn-radio(type='radio' name='genderF')
                label(for='f') Féminin
            .form-field
                label.text-label Taille (cm)
                input.btn-range(type='range' min='0' max='250' value=height name='height' oninput='this.nextElementSibling.value = this.value')
                output.slider-output
            .form-field
                label.text-label Poids (kg)
                input.btn-range(type='range' min='0' max='250' value=weight name='weight' oninput='this.nextElementSibling.value = this.value')
                output.slider-output
            input.btn-basic(type='submit' value='Ok')
        .btn-footer
        form(action='/logout' method='post')
            input#btn-alt-delete.btn-basic(type='submit' value='Supprimer')
        button#logout.btn-basic(onclick='history.back()') Retour